
:root{

    --white: #ffffff;
    --crimson: #660a04;
    --orange: #ec7e5b;
    --red: #b84046;
    --black: #454141;

}

/* Custom Font Rules */

@import 'https://fonts.googleapis.com/css2?family=Montserrat';
@import 'https://fonts.googleapis.com/css2?family=Raleway';


/* raleway-regular - latin */
@font-face {
    font-family: 'raleway-normal';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/raleway-v26-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/raleway-v26-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/raleway-v26-latin-regular.ttf') format('truetype');/* Safari, Android, iOS */
  }
  
  /* raleway-800 - latin */
  @font-face {
    font-family: 'raleway-bold';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/raleway-v26-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/raleway-v26-latin-800.woff') format('woff'), /* Modern Browsers */
         url('../fonts/raleway-v26-latin-800.ttf') format('truetype'); /* Safari, Android, iOS */
  }
  
  /* montserrat-700 - latin */
@font-face {
    font-family: 'montserrat-bold';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/montserrat-v23-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/montserrat-v23-latin-700.woff') format('woff'), /* Modern Browsers */
         url('../fonts/montserrat-v23-latin-700.ttf') format('truetype'); /* Safari, Android, iOS */
  }
  

/*  font-family: 'Montserrat', sans-serif;  */


body {
    font-family: 'raleway-normal'/* , sans-serif */;
    width: 100%;
    height: 100%;
    color: var(--white);
    background-color: #454141;
}

header {
    background-color: #ec7e5b;
    min-height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1{
    font-family: 'montserrat-bold';
    font-weight: 700;
}

.map {
    max-width: 95%;
}

.large-text {
    font-size: 1.5rem;
    margin-bottom: 2.5rem;
}

.wrapper {
    font-family: 'Raleway', sans-serif; 
    display: flex;
    flex-direction: column;
    max-width: 90%;
    margin: auto;
    align-items: center;
}

button {
    font-family: 'Raleway', sans-serif;
    background-color: #B84046;
    margin: .5rem;
    padding: 1rem;
    border: none;
    border-radius: 50px;
    color: white;
    font-weight: bold;
    width: 18rem;
}

/* .gray-background {
    background-color: #F6F5F8;
} */

.align-center-text {
    text-align: center;
}

.white-background {
    background-color: white;
    color: var(--black);
}

.pop-up {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    padding-top: 3em;
    width: 300px;
    height: 70%;
    margin: 1em;
    border-radius: 1em;
    top: 10%;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

.menu-item-text {
    color: var(--black);
}

.cart-button {
    position: fixed;
    bottom: 0;
    left: 10%;
}

/* ---------Splash Page------------- */

#splash-page{
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    position: absolute;
    width: 100%;
}

/* ---------Pick-Up Time Form------------- */
/* NOTICE: Because the Alpha has no Database functionality, the styles are currently applied to <a> tags. Will need to with <form> and <input> tags for final */

.close{
    position: absolute;
    right: 1em;
    top: 1em;
}

#confirm-pick-up-time{
    display: flex;
    padding: 1em;
    background-color: #b84046;
    border-radius: 2em;
    width: 40%;
    justify-content: center;
    margin: .5em;
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.false-pick-up-time{
    display: flex;
    padding: 1em;
    background-color: #d9d9d9;
    border-radius: 2em;
    width: 60%;
    justify-content: center;
    margin: .5em;
    color: white;
    font-weight: bold;
    text-decoration: none;

}

.true-pick-up-time{
    display: flex;
    padding: 1em;
    background-color: #b84046;
    border-radius: 2em;
    width: 60%;
    justify-content: center;
    margin: .5em;
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.true-pick-up-time:hover{
   cursor: pointer;
}

/* ---------Menu Page------------- */

section {
    border-radius: 35px;
    border: 1px black;
    background-color: white;
    color: var(--black);
    padding: 1rem;
    margin: 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

section div {
    padding: 1rem;
}

.price {
    text-align: right;
}

.secondary-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.secondary-header img {
    max-width: 100%;
}

button div {
    background-color: white;
    color: black;
    width: 25px;
    height: 25px;
    border-radius: 50px;
    margin-right: 0;
    margin-left: auto;
    margin-top: -1rem;
}

/* ---------Select Base Page------------- */

.select-base img {
    margin-top: 3rem;
}

/* ---------Cart Page------------- */

form {
    width: 100%;
}

textarea {
    font-family: 'Raleway', sans-serif;
    width: 100%;
    height: 100px;
    padding: 12px 20px;
    margin: 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: white;
    font-size: 16px;
    resize: none;
}

/* ---------Customize Pizza Page------------- */

.small-button {
    background-color: white;
    border: none;
    color: black;
    width: fit-content;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

.button-nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.topping-container {
    border-radius: 50px;
    width: 90%;
    padding: 2rem;
    margin: 2rem 0;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

.topping-price {
    color: gray;
    margin-left: 1rem;
}

/* ---------Customize Pizza Page (Checkbox)------------- */

/* The container */
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
/* ---------Login Page------------- */

.login-text{
    border-radius: .5em;
    border: 1px solid lightgrey;
    padding: 1em;
    margin: 1em;
    width: 70%;
}

.google-login{
    border-radius: 2em;
    padding: 1em;
    margin: 1em;
    width: 70%;
    box-shadow: 0px 2px 5px lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: black;
}

.google-login:hover{
    cursor: pointer;
}

/* ---------Order Confirmation------------- */

.order-confirmation{
    padding: .25em;
    border-radius: 1.5em;
}


.payment{
    margin: 1em;
}

#debit-card{
    border-radius: 1.5em;
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding: 0;
    margin: 0;
}

#card-thumbnail{
    padding: 1em;
}

#payment-type{
    font-weight: bold;
}

#card-number{
    color: grey;
}

#card-choice{
    padding: .5em;
}

/*Order Details Grid*/

#order-details{
    border-radius: 35px;
    border: 1px black;
    background-color: white;
    padding: 1rem;
    margin: 1rem 0;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    display: grid;
    grid-template-rows: .5fr .5fr 1fr .5fr;
    overflow: hidden;
}

#subtotal-details{
    display: flex;
    justify-content: space-between;
}

#tax-details{
    display: flex;

    justify-content: space-between;
}

#tip-choose{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-left: 2em;
}

#tip-details{
    display: flex;
    align-items: center;
}


.tip-input{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.tip-input p{
    margin: .25em;
    padding: 0;
}

#first-box{
    border-radius: 1em 0 0 1em;
}

#last-box{
    border-radius: 0 1em 1em 0;
}

.tip-label {
    display : block;
    padding: none;

}
.tip-label:hover{
    cursor: pointer;
}

.tip-label > input{
    visibility: hidden;
    position: absolute;
}
.tip-label > input + div{
    border: 2px solid #b84046;
}
.tip-label > input:checked + div{
    background-color: #b84046;
    color: white;
    border: 2px solid #b84046;
}

#tip-choose{
    width: 90%;
    margin: auto;
}

#total-details{
    display: flex;
    justify-content: space-between;
    margin-top: 1em;
    font-size: 1.25em;
    align-items: center;
}

#custom-tip{
    margin-top: .5em;
    text-align: right;
}

/*Pick Up Details*/

#pizza-pickup{
    padding-top: 2em;
}

#pickup-details{
    flex-direction: column;
    
}

#pickup-details h2{
    font-weight: lighter;
    font-size: 1.5em;
    margin: .25em;

}

#pickup-details p{
    font-weight: 1000;
    font-size: 1.5em;
    margin: .25em;
}

#pickup-number{
    display: flex;
    justify-content: space-between;
}


#pickup-time{
    display: flex;
    justify-content: space-between;
    font-weight: lighter;
}

#pickup-locale{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-weight: lighter;
    text-align: center;
}

#order-locale{
    font-weight: bold;
}

/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input~.checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked~.checkmark {
    background-color: #ec7e5b;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked~.checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}