header {
    background-color: #ec7e5b;
    min-height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.map {
    max-width: 95%;
}

.large-text {
    font-size: 1.5rem;
    margin-bottom: 2.5rem;
}

.wrapper {
    display: flex;
    flex-direction: column;
    max-width: 90%;
    margin: auto;
    align-items: center;
}

button {
    background-color: #ec7e5b;
    margin: .5rem;
    padding: 1rem;
    border: none;
    border-radius: 50px;
    color: white;
    font-weight: bold;
    width: 100%;
}

.gray-background {
    background-color: #F6F5F8;
}

.align-center-text {
    text-align: center;
}

/* ---------Menu Page------------- */

section {
    border-radius: 35px;
    border: 1px black;
    background-color: white;
    padding: 1rem;
    margin: 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

section div {
    padding: 1rem;
}

.price {
    text-align: right;
}

.secondary-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.secondary-header img {
    max-width: 100%;
}

button div {
    background-color: white;
    color: black;
    width: 25px;
    height: 25px;
    border-radius: 50px;
    margin-right: 0;
    margin-left: auto;
    margin-top: -1rem;
}

/* ---------Splash Page------------- */

#splash-page{
    align-items: center;
    background-color: #ec7e5b;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    position: absolute;
    width: 100%;
}

/* ---------Select Base Page------------- */

.select-base img {
    margin-top: 3rem;
}

/* ---------Cart Page------------- */

form {
    width: 100%;
}

textarea {
    width: 100%;
    height: 100px;
    padding: 12px 20px;
    margin: 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: white;
    font-size: 16px;
    resize: none;
}

/* ---------Customize Pizza Page------------- */

.small-button {
    background-color: white;
    border: none;
    color: black;
    width: fit-content;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.button-nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.topping-container {
    background-color: white;
    border-radius: 50px;
    width: 90%;
    padding: 2rem;
    margin: 2rem 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.topping-price {
    color: gray;
    margin-left: 1rem;
}

/* ---------Customize Pizza Page (Checkbox)------------- */

/* The container */
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  

/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input~.checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked~.checkmark {
    background-color: #ec7e5b;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked~.checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}