/* ----------General------------ */

@import 'normalize.css';
@import 'https://fonts.googleapis.com/css?family=Roboto';
@import 'https://fonts.googleapis.com/css2?family=Signika';

* {
    font-family: "Roboto", sans-serif;
}

h1 {
    font-family: 'Signika', sans-serif;
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
    margin: 0;
    margin-bottom: 1rem;
}

h3 {
    font-size: 1rem;
    margin: .25rem 0;
}

/* div {
    margin: .5rem;
    padding: .5rem;
} */

img {
    max-width: 100%;
}

/* ---------Responsive------------- */

@media only screen and (min-width: 50rem) {

    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 2.25rem;
    }

    h3 {
        font-size: 1.25rem;
        margin: .5rem 0;
    }

    h4 {
        font-size: 1rem;
    }
}

@media only screen and (min-width: 70rem) {}