/* ------team about------ */

* {
    font-family: "Roboto", sans-serif;
    color: white;
}

h1 {
    color: black;
}

body {
    background-color: #064660;
    overflow-x: hidden;
}

.wrapper {
    width: fit-content;
    margin: auto;
    padding: 2rem;
}

.container {
    margin: 0 1rem;
    display: flex;
    align-items: center;
}

div {
    margin: .5rem;
}

.team-name {
    background-color: #FDCA40;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    padding: 0 3rem;
    width: fit-content;
    margin: 2rem auto;
}

.circle {
    background-color: #63A088;
    width: 15rem;
    height: 15rem;
    border-radius: 50rem;
    z-index: -1;
    position: absolute;
}

.circle:nth-child(1) {
    left: -7rem;
    top: -7rem;
}

.circle:nth-child(2) {
    right: -7rem;
    bottom: -7rem;
}

img {
    width: 7rem;
    height: 7rem;
}

.linking-to-project {
    text-align: center;
}
/* ---------Responsive------------- */

@media only screen and (min-width: 50rem) {
    img {
        width: 9rem;
        height: 9rem;
        transition: .285s;
    }

    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 2.25rem;
    }

    h3 {
        font-size: 1.25rem;
        margin: .5rem 0;
    }

    h4 {
        font-size: 1rem;
    }
}

@media only screen and (min-width: 70rem) {
    .team-name {
        margin: 2rem;
    }

    .container {
        width: 32rem;
        /* background-color: red; */
    }

    .wrapper {
        height: 30rem;
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
    }

    img {
        width: 11rem;
        height: 11rem;
    }

}